In [219]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

### Things are working: we will now add queries as necessary to answer the questions.

In [220]:
database = "sqlite_db_pythonsqlite.db"
conn = create_connection(database)

2.6.0

In [221]:
cur = conn.cursor()
query1 = 'select * from facilities'
cur.execute(query1)
result = cur.fetchall()
for row in result:
    print(row)

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [222]:
print(result)

[(0, 'Tennis Court 1', 5, 25, 10000, 200), (1, 'Tennis Court 2', 5, 25, 8000, 200), (2, 'Badminton Court', 0, 15.5, 4000, 50), (3, 'Table Tennis', 0, 5, 320, 10), (4, 'Massage Room 1', 9.9, 80, 4000, 3000), (5, 'Massage Room 2', 9.9, 80, 4000, 3000), (6, 'Squash Court', 3.5, 17.5, 5000, 80), (7, 'Snooker Table', 0, 5, 450, 15), (8, 'Pool Table', 0, 5, 400, 15)]

In [223]:
#Q1Some of the facilities charge a fee to members, but some do not.
#Write a SQL query to produce a list of the names of the facilities that do
cur = conn.cursor()
query1 = 'select facid, name from facilities where membercost > 0'
cur.execute(query1)
result = cur.fetchall()
for row in result:
    print(row)

(0, 'Tennis Court 1')
(1, 'Tennis Court 2')
(4, 'Massage Room 1')
(5, 'Massage Room 2')
(6, 'Squash Court')

In [224]:
#Q2 How many facilities do not charge a fee to members? 
query2 = 'select count(facid) from facilities where membercost = 0'
cur.execute(query2)
result = cur.fetchall()
print(" Number of facilities that do not charge a fee: ",result[0][0])

 Number of facilities that do not charge a fee:  4

In [225]:
""" Q3: Write an SQL query to show a list of facilities that charge a fee to members,
where the fee is less than 20% of the facility's monthly maintenance cost.
Return the facid, facility name, member cost, and monthly maintenance of the
facilities in question. """
cur = conn.cursor()
query1 = 'select facid, name from facilities where (membercost > 0) and (membercost < 0.2*monthlymaintenance) '
cur.execute(query1)
result = cur.fetchall()
for row in result:
    print(row)

(0, 'Tennis Court 1')
(1, 'Tennis Court 2')
(4, 'Massage Room 1')
(5, 'Massage Room 2')
(6, 'Squash Court')

In [226]:
"""Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.
Try writing the query without using the OR operator. """
query4 = 'select * from facilities where facid in (1,5)'
cur.execute(query4)
result = cur.fetchall()
for row in result:
    print(row)

(1, 'Tennis Court 2', 5, 25, 8000, 200)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)

In [227]:
"""/* Q5: Produce a list of facilities, with each labelled as
'cheap' or 'expensive', depending on if their monthly maintenance cost is
more than $100. Return the name and monthly maintenance of the facilities
in question. */
"""
query5 = """select facid, case 
 when monthlymaintenance < 100 then 'cheap' 
 else 'expensive'
 end as [group]
 from facilities """

cur.execute(query5)
result = cur.fetchall()
for row in result:
    print(row)

(0, 'expensive')
(1, 'expensive')
(2, 'cheap')
(3, 'cheap')
(4, 'expensive')
(5, 'expensive')
(6, 'cheap')
(7, 'cheap')
(8, 'cheap')

In [228]:
"""/* Q6: You'd like to get the first and last name of the last member(s)
who signed up. Try not to use the LIMIT clause for your solution. */"""
query6= """select * from members 
where surname <> 'GUEST' 
order by joindate"""
cur.execute(query6)
result = cur.fetchall()
#for row in result:
#    print(row)
print(result[0])
print(result[-1])

(1, 'Smith', 'Darren', '8 Bloomsbury Close, Boston', 4321, '555-555-5555', '', '2012-07-02 12:02:05')
(37, 'Smith', 'Darren', '3 Funktown, Denzington, Boston', 66796, '(822) 577-3541', '', '2012-09-26 18:08:45')

In [229]:
"""/* Q7: Produce a list of all members who have used a tennis court.
Include in your output the name of the court, and the name of the member
formatted as a single column. Ensure no duplicate data, and order by
the member name. */
"""

query7 = """select distinct firstname, surname 
from members as m 
inner join bookings as b
on m.memid = b.memid
where facid in (0,1,3)"""

cur.execute(query7)
result = cur.fetchall()
for row in result:
    print(row)

('Darren', 'Smith')
('Tracy', 'Smith')
('GUEST', 'GUEST')
('Tim', 'Rownam')
('Janice', 'Joplette')
('Gerald', 'Butters')
('Tim', 'Boothe')
('Burton', 'Tracy')
('Nancy', 'Dare')
('Ponder', 'Stibbons')
('Charles', 'Owen')
('Anne', 'Baker')
('David', 'Jones')
('Jemima', 'Farrell')
('Jack', 'Smith')
('Timothy', 'Baker')
('Florence', 'Bader')
('David', 'Pinker')
('Matthew', 'Genting')
('Joan', 'Coplin')
('Anna', 'Mackenzie')
('Ramnaresh', 'Sarwin')
('Douglas', 'Jones')
('David', 'Farrell')
('Millicent', 'Purview')
('Henrietta', 'Rumney')
('Henry', 'Worthington-Smyth')
('John', 'Hunt')
('Erica', 'Crumpet')

In [230]:
"""/* Q8: Produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries. */"""

query8 = """
SELECT f.name, m.surname, m.firstname,
Case
when b.memid <> 0 then slots*f.membercost
else slots*f.guestcost
end as totalcost
FROM `Bookings` as b
inner join facilities as f
on b.facid = f.facid
inner join members as m
on b.memid = m.memid
WHERE (`starttime` LIKE '2012-09-14%') and (totalcost> 30)
order by totalcost desc

"""

cur.execute(query8)
result = cur.fetchall()
for row in result:
    print(row)

('Massage Room 2', 'GUEST', 'GUEST', 320)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Tennis Court 2', 'GUEST', 'GUEST', 150)
('Tennis Court 1', 'GUEST', 'GUEST', 75)
('Tennis Court 1', 'GUEST', 'GUEST', 75)
('Tennis Court 2', 'GUEST', 'GUEST', 75)
('Squash Court', 'GUEST', 'GUEST', 70.0)
('Massage Room 1', 'Farrell', 'Jemima', 39.6)
('Squash Court', 'GUEST', 'GUEST', 35.0)
('Squash Court', 'GUEST', 'GUEST', 35.0)

In [231]:
"""/* Q9: This time, produce the same result as in Q8, but using a subquery. */"""

query9 = """
SELECT f.name, m.surname, m.firstname,
Case
when b.memid <> 0 then slots*f.membercost
else slots*f.guestcost
end as totalcost
FROM `Bookings` as b
inner join facilities as f
on b.facid = f.facid
inner join members as m
on b.memid = m.memid
WHERE (`starttime` LIKE '2012-09-14%') and (totalcost> 30)
order by totalcost desc

"""

cur.execute(query9)
result = cur.fetchall()
for row in result:
    print(row)

('Massage Room 2', 'GUEST', 'GUEST', 320)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Tennis Court 2', 'GUEST', 'GUEST', 150)
('Tennis Court 1', 'GUEST', 'GUEST', 75)
('Tennis Court 1', 'GUEST', 'GUEST', 75)
('Tennis Court 2', 'GUEST', 'GUEST', 75)
('Squash Court', 'GUEST', 'GUEST', 70.0)
('Massage Room 1', 'Farrell', 'Jemima', 39.6)
('Squash Court', 'GUEST', 'GUEST', 35.0)
('Squash Court', 'GUEST', 'GUEST', 35.0)

In [232]:
"""/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */"""

query10 = """

select f.name,
sum(Case
when b.memid <> 0 then b.slots*f.membercost
else b.slots*f.guestcost
end) as revenue
FROM `bookings` as b
inner join facilities as f
on b.facid = f.facid
inner join members as m
on b.memid = m.memid


group by f.facid
having revenue < 1000
order by revenue



"""

cur.execute(query10)
result = cur.fetchall()
for row in result:
    print(row)

('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [233]:
"""/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */"""
query11 = """

select m1.surname, m1.firstname, (select m2.surname from members as m2
where m1.recommendedby = m2.memid) as rec_surname,
(select m2.firstname from members as m2
where m1.recommendedby = m2.memid) as rec_firstname
from members as m1
order by rec_surname, rec_firstname


"""
cur.execute(query11)
result = cur.fetchall()
for row in result:
    print(row)

('GUEST', 'GUEST', None, None)
('Smith', 'Darren', None, None)
('Smith', 'Tracy', None, None)
('Rownam', 'Tim', None, None)
('Tracy', 'Burton', None, None)
('Farrell', 'Jemima', None, None)
('Farrell', 'David', None, None)
('Tupperware', 'Hyacinth', None, None)
('Smith', 'Darren', None, None)
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Pinker', 'David', 'Farrell', 'Jemima')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Jones', 'Douglas', 'Jones', 'David')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Jones', 'David', 'Joplette', 'Janice')
('Hunt', 'John', 'Purview', 'Millicent')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Joplette', 'Janice', 'Smith', 'Darren')
('Butters', 'Gerald', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Smith', 'Jack', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Stibbons', 'Ponder', 'Tracy', 'Burton')

In [234]:
"""/* Q12: Find the facilities with their usage by member, but not guests */"""
query12 = """

select memid, facid, f.name
from bookings
inner join facilities as f
using(facid)
where memid <> 0 
group by memid


"""
cur.execute(query12)
result = cur.fetchall()
for row in result:
    print(row)

(1, 3, 'Table Tennis')
(2, 0, 'Tennis Court 1')
(3, 4, 'Massage Room 1')
(4, 4, 'Massage Room 1')
(5, 0, 'Tennis Court 1')
(6, 1, 'Tennis Court 2')
(7, 2, 'Badminton Court')
(8, 1, 'Tennis Court 2')
(9, 1, 'Tennis Court 2')
(10, 0, 'Tennis Court 1')
(11, 1, 'Tennis Court 2')
(12, 0, 'Tennis Court 1')
(13, 3, 'Table Tennis')
(14, 4, 'Massage Room 1')
(15, 2, 'Badminton Court')
(16, 1, 'Tennis Court 2')
(17, 7, 'Snooker Table')
(20, 5, 'Massage Room 2')
(21, 2, 'Badminton Court')
(22, 7, 'Snooker Table')
(24, 1, 'Tennis Court 2')
(26, 2, 'Badminton Court')
(27, 7, 'Snooker Table')
(28, 0, 'Tennis Court 1')
(29, 2, 'Badminton Court')
(30, 2, 'Badminton Court')
(33, 7, 'Snooker Table')
(35, 0, 'Tennis Court 1')
(36, 2, 'Badminton Court')

In [235]:
"""/* Q13: Find the facilities usage by month, but not guests */"""

query12 = """

select count(bookid) facid, f.name, starttime, substr(starttime, 6,2) as month
from bookings
inner join facilities as f
using(facid)
group by month


"""
cur.execute(query12)
result = cur.fetchall()
for row in result:
    print(row)

(658, 'Table Tennis', '2012-07-03 11:00:00', '07')
(1472, 'Tennis Court 1', '2012-08-01 15:30:00', '08')
(1913, 'Tennis Court 1', '2012-09-01 08:00:00', '09')